<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>App Gestion</title>

        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

        <link rel="stylesheet" th:href="@{/vendors/chartjs/Chart.min.css}">

        <link rel="stylesheet" th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}">
        <link rel="stylesheet" th:href="@{/css/app.css}">
        <link rel="shortcut icon" th:href="@{/images/icon.png}" type="image/x-icon">
    </head>
    <body>
        <div id="app">
            <!--sidebar-fragment-->
            <span th:replace = "fragments/sidebar :: sidebar"> </span>
            <!--end-sidebar-fragment-->
            <!--Begin-Main-->
            <div id="main">
                <!--begin-header-fragment-->
                <span th:replace = "fragments/header :: header"> </span>

                <!--end-header-fragment-->
                
                <!--Begin-Content-fluid-->    
                <div class="main-content container-fluid" layout:fragment="content">
                    
                </div>
                <!--End-Content-fluid--> 
                
                <!--footer-fragment-->
                <span th:replace = "fragments/footer :: footer"> </span>
                <!--end-footer-fragment-->
                
            </div>
            <!--End-Main-->

        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script th:src="@{/js/feather-icons/feather.min.js}"></script>
        <script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
        <script th:src="@{/js/app.js}"></script>

        <script th:src="@{/vendors/chartjs/Chart.min.js}"></script>
        <script th:src="@{/vendors/apexcharts/apexcharts.min.js}"></script>
        <script th:src="@{/js/pages/dashboard.js}"></script>
        <script th:src="@{/vendors/simple-datatables/simple-datatables.js}"></script>
        <script th:src="@{/js/vendors.js}"></script>
<!-- User Create -->
        <script th:src="@{/js/main/user/create.js}"></script>
<!-- End User Create -->
<!-- User Update -->
        <script th:src="@{/js/main/user/update.js}"></script>
<!-- End User Update -->
<!-- User Delete -->
        <script th:src="@{/js/main/user/delete.js}"></script>
<!-- End User Delete -->

<script th:src="@{/js/main/role/create.js}"></script>
<script th:src="@{/js/main/role/delete.js}"></script>
<script th:src="@{/js/main/role/update.js}"></script>


        <script th:src="@{/js/main.js}"></script>
    </body>
</html>
